/*Import Inter var font*/
@import url("https://rsms.me/inter/inter.css");

body {
  font-family: "Inter var", sans-serif;
  padding: 20px;
}

.title {
  padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}
